<!DOCTYPE html>
<html>
  <head>
    <title>MarketcircleAssessment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-warning bg-gradient">
    <div class="block text-center py-5">
      <h1 class="fw-light text-white">MarketCircle Team</h1>
    </div>
    <%= yield %>
  </body>
</html>
